

  /* .draggable-main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
  } */

  .content {
    position: relative;
    /* width: 100vw; */
    /* height: 240px; */
    /* padding: 5vw 5vw 5vw 5vw; */
  }


